{% extends 'show_position/layout.html' %}

{% block content %}
  <h3 class="center-align">Lista av alla positioner</h3>

  <!-- Collection of icon items -->
  <ul class="collection">
    {% for u in user_positions  %}
    <li class="collection-item avatar">
      {% load static %}
      <img src="{% static "images/albin.jpg" %}"  alt="" class="circle ">
      <!-- <a href="#" class=""><i class="material-icons medium left">account_box</i></a> -->
      <span class="title">{{u.u_fullname}}</span>
      <p>{{u.position}} </p>
      <a href="#!" class="secondary-content"><i class="material-icons small">chat</i>
      </a>
    </li>
    {% endfor %}
  </ul>

{% endblock %}
