{% extends 'show_position/layout.html' %}
{% block content %}

{% if user.is_authenticated %}

<h3 class="center-align">Sök efter medarbetare</h3>
<div class="container">

<form class="center-align" action="" method="GET">
  <input class="grey lighten-3" type="text" placeholder="Search" name="query" value="{{request.GET.query}}">
  <input type="submit" name="" value="Search">
</form>
</div>


<h3 class="center-align">Lista av alla positioner</h3>
<div class="row">
  {% for u in user_positions  %}
  <div class="col s12 m6 l4">
    <div class="card horizontal">
      <div class="card-image">
        {% if u.u_id == 1 %}
        {% load static %}
        <img src="{% static "images/alex.jpg" %}"  alt="" class="hoverZoomLink">
        {% endif %}
        {% if u.u_id == 2 %}
        {% load static %}
        <img src="{% static "images/sebbe.jpg" %}"  alt="" class="hoverZoomLink">
        {% endif %}
        {% if u.u_id == 3 %}
        {% load static %}
        <img src="{% static "images/albin.jpg" %}"  alt="" class="hoverZoomLink">
        {% endif %}
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="title">{{u.u_fullname}}</span>
          <p>{{u.position}}</p>
          <a href="#!" class="secondary-content"><i class="material-icons small">chat</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <h2 class="center-align">You are not logged in</h2>
  {% endif %}
</div>
{% endblock %}
